<?xml version="1.0"?>
<launch>

    <!-- User Python Env -->
    <!-- <arg name="yolo_segmentation_ros_python" value=""/> -->

    <!-- Virtual Python Env -->
    <arg name="yolo_segmentation_ros_python" value="$(env HOME)/.virtualenvs/yolo_segmentation_ros/bin/python3"/>

    <node name="yolo_segmentation_ros_node" pkg="yolo_segmentation_ros" type="ros_node.py" launch-prefix="$(arg yolo_segmentation_ros_python)" output="screen">
        <remap from="input_image" to="/zed2i/left/image_rect_color"/>
    </node>

</launch>
